[submodule "nanosoft-textprocessor"]
	path = nanosoft-textprocessor
	url = https://github.com/ZifRoot/nanosoft-textprocessor.git
	branch = master
[submodule "nanosoft-ATM"]
	path = nanosoft-ATM
	url = https://github.com/ZifRoot/nanosoft-ATM.git
	branch = master
